In [2]:
# Initialize Otter
import otter
grader = otter.Notebook("hw07.ipynb")

<a id="top"></a>

# Homework 7: IMDb and U.S. Presidential Elections
## SQL + PCA
## Due Date: Thursday, April 14, 11:59 PM PDT

**Collaboration Policy**

Data science is a collaborative activity. While you may talk with others about
the homework, we ask that you **write your solutions individually**. If you do
discuss the assignments with others please **include their names** below.

**Collaborators**: *list collaborators here*



## Introduction

This homework has two disjoint parts:

**Part 1:** We will use SQL to dive deep into the Internet Movie Database (IMDb) and answer different questions involving movies, actors, and movie ratings. [Click here to jump to Part 1](#part-1).

**Part 2:** We will use Principal Component Analysis to understand a high-dimensional dataset: U.S. Presidential Elections by State. [Click here to jump to Part 2](#part-2).

## Grading
Grading is broken down into autograded answers and free response. For autograded answers, the results of your code are compared to provided and/or hidden tests. For free response, readers will evaluate how well you answered the question and/or fulfilled the requirements of the question.

<!--
<details>
    <summary>[Click to Expand] <b>Scoring Breakdown</b></summary>-->
|Question|Points|
|---|---|
|Q1a | 2 |
|Q1b | 2 |
|Q2 | 3 |
|Q3 | 3 |
|Q4 | 4 |
|Q5 | 4 |
|Q6a | 1 |
|Q6b | 1 |
|Q6c | 1 |
|Q6d | 1 |
|Q6e | 2 |
|Q7a | 2 |
|Q7b | 2 |
|Q8a | 1 |
|Q8b | 2 |
|Q8c | 2 |
|Total | 33 |
</details>

In [3]:
# Run this cell to set up your notebook

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import sqlalchemy
from pathlib import Path
from sqlalchemy import text # personally added

plt.style.use('fivethirtyeight') # Use plt.style.available to see more styles
sns.set()
sns.set_context("talk")
np.set_printoptions(threshold=5) # avoid printing out big matrices
%matplotlib inline
%load_ext sql

<br/><br/>

---
<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

---

<a id='part-1'></a>
# Part 1: The IMDB (mini) Dataset


(Click [here](#top) to jump back to the top of this notebook.)

We will explore a miniature version of the [IMDb Dataset](https://www.imdb.com/interfaces/). This is the same dataset that we used for this week's lab. The remainder of this overview section is copied from this week's lab.

Let's load in the database in two ways (using both Python and cell magic) so that we can flexibly explore the SQL database.

A few reminders: 
* **Only SQL code written with `pd.read_sql` will be graded.**  You should feel free to create `%%sql` cells **after** your Python answer + autograder cells to reduce debugging headaches, but you will still need to copy over any SQL to the Python answer cells. **Do not** add new cells betwen the question and the grading cells; it will cause errors when we run the autograder, and it will sometimes cause an error in generating the PDF file.

* **Caution: Be careful with large SQL queries!!** You may need to reboot your Jupyter Hub instance if it stops responding. **Use the LIMIT keyword** to avoid printing out 100k-sized tables (but remember to remove it).

In [4]:
# run this cell and the next one
engine = sqlalchemy.create_engine("sqlite:///data/imdbmini.db")
connection = engine.connect()

In [5]:
%sql sqlite:///data/imdbmini.db

<br/>

Let's take a look at the table schemas:

In [5]:
%%sql
-- just run this cell --
SELECT * FROM sqlite_master WHERE type='table';

 * sqlite:///data/imdbmini.db
Done.

[('table', 'Title', 'Title', 2, 'CREATE TABLE "Title" (\n"tconst" INTEGER,\n  "titleType" TEXT,\n  "primaryTitle" TEXT,\n  "originalTitle" TEXT,\n  "isAdult" TEXT,\n  "startYear" TEXT,\n  "endYear" TEXT,\n  "runtimeMinutes" TEXT,\n  "genres" TEXT\n)'),
 ('table', 'Name', 'Name', 12, 'CREATE TABLE "Name" (\n"nconst" INTEGER,\n  "primaryName" TEXT,\n  "birthYear" TEXT,\n  "deathYear" TEXT,\n  "primaryProfession" TEXT\n)'),
 ('table', 'Role', 'Role', 70, 'CREATE TABLE "Role" (\ntconst INTEGER,\nordering TEXT,\nnconst INTEGER,\ncategory TEXT,\njob TEXT,\ncharacters TEXT\n)'),
 ('table', 'Rating', 'Rating', 41, 'CREATE TABLE "Rating" (\ntconst INTEGER,\naverageRating TEXT,\nnumVotes TEXT\n)')]

From running the above cell, we see the database has 4 tables: `Name`, `Role`, `Rating`, and `Title`.

<details>
    <summary>[<b>Click to Expand</b>] See descriptions of each table's schema.</summary>
    
**`Name`** â€“ Contains the following information for names of people.
    
- nconst (text) - alphanumeric unique identifier of the name/person
- primaryName (text)â€“ name by which the person is most often credited
- birthYear (integer) â€“ in YYYY format
- deathYear (integer) â€“ in YYYY format
    
    
**`Role`** â€“ Contains the principal cast/crew for titles.
    
- tconst (text) - alphanumeric unique identifier of the title
- ordering (integer) â€“ a number to uniquely identify rows for a given tconst
- nconst (text) - alphanumeric unique identifier of the name/person
- category (text) - the category of job that person was in
- characters (text) - the name of the character played if applicable, else '\\N'
    
**`Rating`** â€“ Contains the IMDb rating and votes information for titles.
    
- tconst (integer) - alphanumeric unique identifier of the title
- averageRating (text) â€“ weighted average of all the individual user ratings
- numVotes (text) - number of votes (i.e., ratings) the title has received
    
**`Title`** - Contains the following information for titles.
    
- tconst (text) - alphanumeric unique identifier of the title
- titleType (text) -  the type/format of the title
- primaryTitle (text) -  the more popular title / the title used by the filmmakers on promotional materials at the point of release
- isAdult (text) - 0: non-adult title; 1: adult title
- startYear (text) â€“ represents the release year of a title.
- runtimeMinutes (integer)  â€“ primary runtime of the title, in minutes
    
</details>

<br/><br/>
From the above descriptions, we can conclude the following:
* `Name.nconst` and `Title.tconst` are primary keys of the `Name` and `Title` tables, respectively.
* `Role.nconst` and `Role.tconst` are **foreign keys** that point to `Name.nconst` and `Title.tconst`, respectively.

<br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Question 1

### Question 1a
How far back does our data go? Does it only include recent data, or do we have information about older movies and movie stars as well? 

List the **10 oldest films** by `startYear` and then `primaryTitle` both in **ascending** order.  Do not include films where the `startYear` is `NULL`.  The output should contain the `startYear`, `primaryTitle`, and `titleType`.

Remember, you can create a `%%sql` cell **after** the grader cell as scratch work. Just be sure to copy the query back into the Python cell to run the autograder.

<!--
BEGIN QUESTION
name: q1a
points: 2
-->

In [6]:
query_q1a = """
SELECT startYear, primaryTitle, titleType
FROM Title
ORDER BY startYear, primaryTitle ASC
LIMIT 10;
"""


res_q1a = pd.read_sql(text(query_q1a), connection)
res_q1a

  startYear                 primaryTitle titleType
0      1902           A Trip to the Moon     short
1      1915        The Birth of a Nation     movie
2      1920  The Cabinet of Dr. Caligari     movie
3      1921                      The Kid     movie
4      1922                    Nosferatu     movie
5      1924                 Sherlock Jr.     movie
6      1925          Battleship Potemkin     movie
7      1925                The Gold Rush     movie
8      1926                  The General     movie
9      1927                   Metropolis     movie

In [7]:
%%sql
SELECT startYear, primaryTitle, titleType
FROM Title
ORDER BY startYear, primaryTitle ASC
LIMIT 10;

 * sqlite:///data/imdbmini.db
Done.

[('1902', 'A Trip to the Moon', 'short'),
 ('1915', 'The Birth of a Nation', 'movie'),
 ('1920', 'The Cabinet of Dr. Caligari', 'movie'),
 ('1921', 'The Kid', 'movie'),
 ('1922', 'Nosferatu', 'movie'),
 ('1924', 'Sherlock Jr.', 'movie'),
 ('1925', 'Battleship Potemkin', 'movie'),
 ('1925', 'The Gold Rush', 'movie'),
 ('1926', 'The General', 'movie'),
 ('1927', 'Metropolis', 'movie')]

In [13]:
grader.check("q1a")

q1a results: All test cases passed!

<br/>

<hr style="border: 1px solid #fdb515;" />

### Question 1b

Next, let's calculate the distribution of films by year. Write a query that returns the **total** films for each `startYear` in the `Title` table as `total`.  Keep in mind that some entries may not have a `startYear` listed -- you should filter those out.  Order your final results by the `startYear` in **ascending** order.

The first few records of the table should look like the following (but you should compute the entire table).


| |startYear|total|
|-----|------|-----|
|**0**|1902|1|
|**1**|1915|1|
|**2**|1920|1|
|**3**|1921|1|
|**4**|1922|1|
|...|...|...|


<!--
BEGIN QUESTION
name: q1b
points: 2
-->

In [7]:
query_q1b = """
SELECT startYear,COUNT(*) AS total
FROM Title
WHERE startYear IS NOT NULL
GROUP BY startYear
ORDER BY startYear ASC;
"""


res_q1b = pd.read_sql(text(query_q1b), connection)
res_q1b

    startYear  total
0        1902      1
1        1915      1
2        1920      1
3        1921      1
4        1922      1
..        ...    ...
98       2017    284
99       2018    282
100      2019    278
101      2020    181
102      2021    128

[103 rows x 2 columns]

In [14]:
%%sql
SELECT startYear,COUNT(*) AS total
FROM Title
WHERE startYear IS NOT NULL
GROUP BY startYear
ORDER BY startYear ASC;

 * sqlite:///data/imdbmini.db
Done.

[('1902', 1),
 ('1915', 1),
 ('1920', 1),
 ('1921', 1),
 ('1922', 1),
 ('1924', 1),
 ('1925', 2),
 ('1926', 1),
 ('1927', 2),
 ('1928', 2),
 ('1929', 2),
 ('1930', 1),
 ('1931', 5),
 ('1932', 3),
 ('1933', 3),
 ('1934', 2),
 ('1935', 4),
 ('1936', 3),
 ('1937', 2),
 ('1938', 5),
 ('1939', 6),
 ('1940', 8),
 ('1941', 8),
 ('1942', 7),
 ('1943', 2),
 ('1944', 6),
 ('1945', 5),
 ('1946', 11),
 ('1947', 4),
 ('1948', 6),
 ('1949', 4),
 ('1950', 7),
 ('1951', 11),
 ('1952', 5),
 ('1953', 13),
 ('1954', 13),
 ('1955', 14),
 ('1956', 11),
 ('1957', 12),
 ('1958', 10),
 ('1959', 11),
 ('1960', 15),
 ('1961', 13),
 ('1962', 19),
 ('1963', 17),
 ('1964', 14),
 ('1965', 8),
 ('1966', 17),
 ('1967', 16),
 ('1968', 19),
 ('1969', 13),
 ('1970', 15),
 ('1971', 27),
 ('1972', 23),
 ('1973', 30),
 ('1974', 20),
 ('1975', 24),
 ('1976', 25),
 ('1977', 24),
 ('1978', 23),
 ('1979', 32),
 ('1980', 32),
 ('1981', 36),
 ('1982', 45),
 ('1983', 34),
 ('1984', 51),
 ('1985', 65),
 ('1986', 60),
 ('1987', 66),
 ('1988', 70),
 ('1989', 82),
 ('1990', 76),
 ('1991', 65),
 ('1992', 84),
 ('1993', 109),
 ('1994', 94),
 ('1995', 118),
 ('1996', 115),
 ('1997', 127),
 ('1998', 137),
 ('1999', 136),
 ('2000', 142),
 ('2001', 171),
 ('2002', 180),
 ('2003', 187),
 ('2004', 211),
 ('2005', 218),
 ('2006', 251),
 ('2007', 256),
 ('2008', 254),
 ('2009', 277),
 ('2010', 259),
 ('2011', 301),
 ('2012', 268),
 ('2013', 311),
 ('2014', 331),
 ('2015', 285),
 ('2016', 306),
 ('2017', 284),
 ('2018', 282),
 ('2019', 278),
 ('2020', 181),
 ('2021', 128)]

In [16]:
grader.check("q1b")

q1b results: All test cases passed!

<br/>

The following should generate an interesting plot of the number of films that premiered each year. Notice there is a dip between the 1920s and late 1940s. Why might that be? *This question is rhetorical; you do not need to write your answer anywhere.*

In [17]:
# just run this cell
px.bar(res_q1b, x="startYear", y="total",
       title="Number of films premiered each year")

<br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Question 2

Who are the **top 10 most prolific movie actors**?

Define the term "movie actor" is defined as anyone with an `actor` or `actress` job category role in a `movie` title.

Your SQL query should output exactly two fields named `name` (the movie actor name) and `total` (the number of movies the movie actor appears in). Order the records by `total` in descending order, and break ties by ordering by `name` in ascending order.

Your result should look something like the following, but without `????`:

| | name | total |
|-----|-----|-----|
|**0**| ???? | 64 |
|**1**| ???? | 54 |
|**2**| ???? | 53 |
|**3**| ???? | 49 |
|**4**| ???? | 46 |
|**5**| ???? | 43 |
|**6**| ???? | 41 |
|**7**| ???? | 40 |
|**8**| ???? | 40 |
|**9**| ???? | 39 |

Some hints: 

* ***The query should take < 2 minutes to run.***
* Google the top of the list and see if it makes sense.
* If you want to include a non-aggregate field in the `SELECT` clause, it must also be included in the `GROUP BY` clause.
<!--* You can assume each movie actor only has one role per film. If you're not sure how this hint affects your query, ignore this hint.-->

<!--
BEGIN QUESTION
name: q2
points: 3
-->

In [8]:
query_q2 = """
SELECT Name.primaryName AS name, total
FROM (
    SELECT COUNT(*) AS total, Role.nconst
    FROM Role INNER JOIN Title
    ON Role.tconst = Title.tconst
    WHERE (Role.category = 'actor' OR Role.category = 'actress') AND Title.titleType = 'movie'
    GROUP BY Role.nconst
)AS actors,Name
WHERE actors.nconst = Name.nconst
ORDER BY total DESC, name ASC
LIMIT 10;
"""


res_q2 = pd.read_sql(text(query_q2), connection)
res_q2

                name  total
0     Robert De Niro     64
1  Samuel L. Jackson     54
2       Nicolas Cage     53
3       Bruce Willis     49
4          Tom Hanks     46
5        Johnny Depp     43
6      Mark Wahlberg     41
7        Liam Neeson     40
8     Morgan Freeman     40
9       Adam Sandler     39

In [26]:
%%sql
SELECT Name.primaryName AS name, total
FROM (
    SELECT COUNT(*) AS total, Role.nconst
    FROM Role INNER JOIN Title
    ON Role.tconst = Title.tconst
    WHERE (Role.category = 'actor' OR Role.category = 'actress') AND Title.titleType = 'movie'
    GROUP BY Role.nconst
)AS actors,Name
WHERE actors.nconst = Name.nconst
ORDER BY total DESC, name ASC
LIMIT 10;

 * sqlite:///data/imdbmini.db
Done.

[('Robert De Niro', 64),
 ('Samuel L. Jackson', 54),
 ('Nicolas Cage', 53),
 ('Bruce Willis', 49),
 ('Tom Hanks', 46),
 ('Johnny Depp', 43),
 ('Mark Wahlberg', 41),
 ('Liam Neeson', 40),
 ('Morgan Freeman', 40),
 ('Adam Sandler', 39)]

In [28]:
grader.check("q2")

q2 results: All test cases passed!

In [29]:
sorted(list(res_q2['name']))

['Adam Sandler',
 'Bruce Willis',
 'Johnny Depp',
 'Liam Neeson',
 'Mark Wahlberg',
 'Morgan Freeman',
 'Nicolas Cage',
 'Robert De Niro',
 'Samuel L. Jackson',
 'Tom Hanks']

<br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Question 3: The `CASE` Keyword

The `Rating` table has the `numVotes` and the `averageRating` for each title. Which **_movies_** were **"big hits"**, defined as a movie with over 100,000 votes? Construct the following table:

| | isBigHit | total |
|-----|-----|-----|
|**0**| no | ???? |
|**1**| yes | ???? |

Where `????` is replaced with the correct values. The row with `no` should have the count for how many movies **are not** big hits, and the row with `yes` should have the count of how many movies **are** big hits.

* Rating.numVotes currently consists of string objects, use `CAST(Rating.numVotes AS int)` to convert them to integer.
* You will need to use  some type of `JOIN`.
* You may also consider using a `CASE WHEN ... IS ... THEN 'yes' ... ELSE ... END` statement. `CASE` statements are the SQL-equivalent of Python `if... elif... else` statements. To read up on `CASE`, take a look at the following links:
    - https://mode.com/sql-tutorial/sql-case/
    - https://www.w3schools.com/sql/sql_ref_case.asp

<!--
BEGIN QUESTION
name: q3
manual: false
points: 3
-->

In [11]:
query_q3 = """
SELECT CASE WHEN votes > 100000 THEN 'yes' ELSE 'no' END AS isBigHit,COUNT(*) AS total
FROM (
    SELECT Title.tconst, CAST(Rating.numVotes AS int) AS votes
    FROM Title INNER JOIN Rating
    ON Title.tconst = Rating.tconst
    WHERE Title.titleType = 'movie'
)
GROUP BY isBigHit;
"""


res_q3 = pd.read_sql(text(query_q3), connection)
res_q3

  isBigHit  total
0       no   4318
1      yes   2041

In [10]:
%%sql
SELECT CASE WHEN votes > 100000 THEN 'yes' ELSE 'no' END AS isBigHit,COUNT(*) AS total
FROM (
    SELECT Title.tconst, CAST(Rating.numVotes AS int) AS votes
    FROM Title INNER JOIN Rating
    ON Title.tconst = Rating.tconst
    WHERE Title.titleType = 'movie'
)
GROUP BY isBigHit;

 * sqlite:///data/imdbmini.db
Done.

[('no', 4318), ('yes', 2041)]

In [12]:
grader.check("q3")

q3 results: All test cases passed!

<br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Question 4

**How does film length relate to ratings?**  To answer this question we want to bin films by length and compute the average of the average ratings within each length bin. We will group movies by 10-minute increments -- that is, one bin for movies \[0, 10) minutes long, another for \[10, 20) minutes, another for \[20, 30) minutes, and so on. Use the following code snippet to help construct 10-minute bins: 

```
ROUND(runtimeMinutes / 10.0 + 0.5) * 10 AS runtimeBin
```

Construct a table containing the **`runtimeBin`**, the **average** of the **average ratings** (as `averageRating`), the **average number of votes** (as `averageNumVotes`), and the number of `titles` in that **runtimeBin** (as `total`).  Only include movies with **at least 10000 votes**.  Order the final results by the value of `runtimeBin`.

<!--
BEGIN QUESTION
name: q4
manual: false
points: 4
-->

In [15]:
query_q4 = """
SELECT ROUND(runtimeMinutes /10.0+0.5)*10 AS runtimeBin, AVG(averageRating) AS averageRating, AVG(numVotes) AS averageNumVotes, COUNT(*) AS total
FROM Rating INNER JOIN Title
ON Rating.tconst = Title.tconst
WHERE numVotes >= 10000 AND titleType = 'movie'
GROUP BY runtimeBin
ORDER BY runtimeBin;
"""


res_q4 = pd.read_sql(text(query_q4), connection)
res_q4.head()

   runtimeBin  averageRating  averageNumVotes  total
0        50.0       7.850000     42535.000000      2
1        60.0       6.400000     30668.500000      2
2        70.0       7.600000     59822.000000     13
3        80.0       6.860937     67896.187500     64
4        90.0       6.283951     76907.608466    567

In [13]:
%%sql
SELECT ROUND(runtimeMinutes /10.0+0.5)*10 AS runtimeBin, AVG(averageRating) AS averageRating, AVG(numVotes) AS averageNumVotes, COUNT(*) AS total
FROM Rating INNER JOIN Title
ON Rating.tconst = Title.tconst
WHERE numVotes >= 10000 AND titleType = 'movie'
GROUP BY runtimeBin
ORDER BY runtimeBin;

 * sqlite:///data/imdbmini.db
Done.

[(50.0, 7.85, 42535.0, 2),
 (60.0, 6.4, 30668.5, 2),
 (70.0, 7.599999999999999, 59822.0, 13),
 (80.0, 6.860937499999999, 67896.1875, 64),
 (90.0, 6.283950617283945, 76907.60846560847, 567),
 (100.0, 6.418263266712614, 82147.24259131633, 1451),
 (110.0, 6.573969780219782, 99912.44093406593, 1456),
 (120.0, 6.78316831683169, 121878.85508550855, 1111),
 (130.0, 7.039082058414474, 152911.96801112656, 719),
 (140.0, 7.184529147982065, 181664.82511210762, 446),
 (150.0, 7.33118811881188, 246401.56435643564, 202),
 (160.0, 7.277165354330711, 218997.41732283463, 127),
 (170.0, 7.426666666666665, 268741.74666666664, 75),
 (180.0, 7.777083333333331, 238440.91666666666, 48),
 (190.0, 7.703030303030303, 192721.72727272726, 33),
 (200.0, 7.5266666666666655, 222178.93333333332, 15),
 (210.0, 8.155555555555557, 424845.3333333333, 9),
 (220.0, 7.6499999999999995, 77057.5, 6),
 (230.0, 8.175, 196062.25, 4),
 (240.0, 8.1, 301315.0, 1),
 (250.0, 7.6000000000000005, 133652.0, 3),
 (280.0, 7.6, 28216.0, 1),
 (290.0, 7.4, 45046.0, 1),
 (320.0, 7.7, 24701.0, 1),
 (330.0, 8.2, 89634.0, 1),
 (370.0, 8.5, 21371.0, 1)]

In [16]:
grader.check("q4")

q4 results: All test cases passed!

<br/>

If your SQL query is correct you should get some interesting plots below.  This might explain why directors keep going a particular direction with film lengths.

In [17]:
# just run this cell
px.bar(res_q4, x="runtimeBin", y="total",
       title="Distribution of Movie Runtimes")

In [18]:
# just run this cell
px.line(res_q4, x="runtimeBin", y="averageRating",
        title="Movie Ratings vs. Runtime")

In [19]:
px.line(res_q4, x="runtimeBin", y="averageNumVotes",
        title="Movie Number of Votes vs. Runtime")

<br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Question 5


Which **movie actors** have the highest average ratings across all the **movies** in which they star? Again, define "movie actor" as anyone with an `actor` or `actress` job category role in a `movie` title.

Construct a table consisting of the **movie actor's name**  (as `name`) and their **average actor rating** (as `actorRating`) computed by rescaling ratings for movies in which they had a role:

$$
\text{actorRating} = 
\frac{\sum_m \text{averageRating}[m] * \text{numVotes}[m]}{\sum_m \text{numVotes}[m]}
$$

Some notes:
* Note that if an actor/actress has multiple `role` listings for a film then that film will have a bigger impact in the overall average (this is desired).
* ***The query should take < 3 minutes to run.***
* Only consider ratings where there are **at least 1000** votes and only consider movie actors that have **at least 20 rated performances**. Present the movie actors with the **top 10** `actorRating` in descending order and break ties alphabetically using the movie actor's name.

The results should look something like this but without the `????`, and with higher rating precision.

| | name | actorRating |
|-----|-----|-----|
|**0**|????|8.4413...|
|**1**|????|8.2473...|
|**2**|????|8.1383...|
|**3**|????|8.1339...|
|**4**|????|8.0349...|
|**5**|????|7.9898...|
|**6**|????|7.9464...|
|**7**|????|7.9330...|
|**8**|????|7.9261...|
|**9**|????|7.8668...|


<!--
BEGIN QUESTION
name: q5
manual: false
points: 4
-->

In [24]:
query_q5 = """
SELECT Name.primaryName AS name,SUM(MovieActors.averageRating*MovieActors.numVotes)/SUM(MovieActors.numVotes) AS actorRating
    FROM Name INNER JOIN (
        SELECT Role.nconst,movies.*
        FROM Role INNER JOIN (
            SELECT Rating.*
            FROM Rating INNER JOIN Title
            ON Rating.tconst = Title.tconst
            WHERE Title.titleType = 'movie' AND Rating.numVotes >= 1000
        ) AS movies
        ON Role.tconst = movies.tconst
        WHERE Role.category = 'actor' OR Role.category = 'actress'
    )AS MovieActors
    ON Name.nconst = MovieActors.nconst
    GROUP BY Name.nconst
    HAVING COUNT(*) >= 20 
    ORDER BY actorRating DESC, name ASC
    LIMIT 10;
"""


res_q5 = pd.read_sql(text(query_q5), connection)
res_q5

                name  actorRating
0       Diane Keaton     8.441302
1        Tim Robbins     8.247318
2          Al Pacino     8.138361
3      Michael Caine     8.133915
4  Leonardo DiCaprio     8.034961
5     Christian Bale     7.989825
6      Robert Duvall     7.946483
7     Jack Nicholson     7.933034
8       Kevin Spacey     7.926158
9     Clint Eastwood     7.866839

In [23]:
%%sql

SELECT Name.primaryName AS name,SUM(MovieActors.averageRating*MovieActors.numVotes)/SUM(MovieActors.numVotes) AS actorRating
    FROM Name INNER JOIN (
        SELECT Role.nconst,movies.*
        FROM Role INNER JOIN (
            SELECT Rating.*
            FROM Rating INNER JOIN Title
            ON Rating.tconst = Title.tconst
            WHERE Title.titleType = 'movie' AND Rating.numVotes >= 1000
        ) AS movies
        ON Role.tconst = movies.tconst
        WHERE Role.category = 'actor' OR Role.category = 'actress'
    )AS MovieActors
    ON Name.nconst = MovieActors.nconst
    GROUP BY Name.nconst
    HAVING COUNT(*) >= 20 
    ORDER BY actorRating DESC, name ASC
    LIMIT 10;

 * sqlite:///data/imdbmini.db
Done.

[('Diane Keaton', 8.441302223858013),
 ('Tim Robbins', 8.247318384970836),
 ('Al Pacino', 8.138361195580254),
 ('Michael Caine', 8.13391512838329),
 ('Leonardo DiCaprio', 8.034960968967019),
 ('Christian Bale', 7.989825204141808),
 ('Robert Duvall', 7.9464826692188995),
 ('Jack Nicholson', 7.933033651440138),
 ('Kevin Spacey', 7.926157790005811),
 ('Clint Eastwood', 7.8668385210673994)]

In [25]:
grader.check("q5")

q5 results: All test cases passed!

<br/><br/><br/>

---
<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

---

<a id='part-2'></a>
# Part 2: U.S. Presidential Elections By State

(Click [here](#top) to jump back to the top of this notebook.)

The second part of this homework focuses on a new dataset. If you haven't worked with Principal Component Analysis before, we highly encourage you to take a look at the PCA lab first. PCA really shines on data where you have reason to believe that the data is relatively low in rank. 

We'll look at how states voted in presidential elections between 1972 and 2016. **Our ultimate goal in this part is to show how 2D PCA scatterplots can allow us to identify clusters in a high dimensional dataset.** For this example, that means finding groups of states that vote similarly by plotting their 1st and 2nd principal components.

<br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Question 6

We explore a dataset on U.S. Presidential Elections by State since 1789, as taken from [Wikipedia](https://en.wikipedia.org/wiki/List_of_United_States_presidential_election_results_by_state).

In [26]:
df = pd.read_csv("data/presidential_elections.csv")
df.head(5)

,State,1789,1792,1796,1800 â€,Unnamed: 5,1804,1808,1812,1816,...,1992,1996,2000 â€¡,Unnamed: 60,2004,2008,2012,2016 â€¡,2020,State.1
0,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,R,R,NaN,R,R,R,R,R,Alabama
1,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,R,R,NaN,R,R,R,R,R,Alaska
2,Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,D,R,NaN,R,R,R,R,D,Arizona
3,Arkansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,D,D,R,NaN,R,R,R,R,R,Arkansas
4,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,D,D,D,NaN,D,D,D,D,D,California

The data in this table is pretty messy (missing records, inconsistent field naming, etc.), so let's create a clean version.

Running the cell below will produce a clean table, which contains exactly 51 rows (corresponding to the 50 states plus Washington DC) and 13 columns (one for each of the election years from 1972 to 2020). The index of this dataframe is the state name.

In [27]:
# just run this cell
df_clean = ( 
        df.iloc[:, -15:]    
        .drop(['Unnamed: 60'], axis = 1) 
        .rename(columns = {"2000 â€¡": "2000", "2016 â€¡": "2016", "State.1": "State"}) 
        .drop([51]) 
        .set_index("State")
)
df_clean

,1972,1976,1980,1984,1988,1992,1996,2000,2004,2008,2012,2016,2020
State,,,,,,,,,,,,,
Alabama,R,D,R,R,R,R,R,R,R,R,R,R,R
Alaska,R,R,R,R,R,R,R,R,R,R,R,R,R
Arizona,R,R,R,R,R,R,D,R,R,R,R,R,D
Arkansas,R,D,R,R,R,D,D,R,R,R,R,R,R
California,R,R,R,R,R,D,D,D,D,D,D,D,D
Colorado,R,R,R,R,R,D,R,R,R,D,D,D,D
Connecticut,R,R,R,R,R,D,D,D,D,D,D,D,D
Delaware,R,D,R,R,R,D,D,D,D,D,D,D,D
D.C.,D,D,D,D,D,D,D,D,D,D,D,D,D
Florida,R,D,R,R,R,R,D,R,R,D,D,R,R
Georgia,R,D,D,R,R,D,R,R,R,R,R,R,D
Hawaii,R,D,D,R,D,D,D,D,D,D,D,D,D
Idaho,R,R,R,R,R,R,R,R,R,R,R,R,R
Illinois,R,R,R,R,R,D,D,D,D,D,D,D,D
Indiana,R,R,R,R,R,R,R,R,R,D,R,R,R
Iowa,R,R,R,R,D,D,D,D,R,D,D,R,R
Kansas,R,R,R,R,R,R,R,R,R,R,R,R,R
Kentucky,R,D,R,R,R,D,D,R,R,R,R,R,R
Louisiana,R,D,R,R,R,D,D,R,R,R,R,R,R
Maine,R,R,R,R,R,D,D,D,D,D,D,D,D
Maryland,R,D,D,R,R,D,D,D,D,D,D,D,D
Massachusetts,D,D,R,R,D,D,D,D,D,D,D,D,D
Michigan,R,R,R,R,R,D,D,D,D,D,D,R,D
Minnesota,R,D,D,D,D,D,D,D,D,D,D,D,D
Mississippi,R,D,R,R,R,R,R,R,R,R,R,R,R
Missouri,R,D,R,R,R,D,D,R,R,R,R,R,R
Montana,R,R,R,R,R,D,R,R,R,R,R,R,R
Nebraska,R,R,R,R,R,R,R,R,R,R,R,R,R
Nevada,R,R,R,R,R,D,D,R,R,D,D,D,D
New Hampshire,R,R,R,R,R,D,D,R,D,D,D,D,D
New Jersey,R,R,R,R,R,D,D,D,D,D,D,D,D
New Mexico,R,R,R,R,R,D,D,D,R,D,D,D,D
New York,R,D,R,R,D,D,D,D,D,D,D,D,D
North Carolina,R,D,R,R,R,R,R,R,R,D,R,R,R
North Dakota,R,R,R,R,R,R,R,R,R,R,R,R,R
Ohio,R,D,R,R,R,D,D,R,R,D,D,R,R
Oklahoma,R,R,R,R,R,R,R,R,R,R,R,R,R
Oregon,R,R,R,R,D,D,D,D,D,D,D,D,D
Pennsylvania,R,D,R,R,R,D,D,D,D,D,D,R,D
Rhode Island,R,D,D,R,D,D,D,D,D,D,D,D,D
South Carolina,R,D,R,R,R,R,R,R,R,R,R,R,R
South Dakota,R,R,R,R,R,R,R,R,R,R,R,R,R
Tennessee,R,D,R,R,R,D,D,R,R,R,R,R,R
Texas,R,D,R,R,R,R,R,R,R,R,R,R,R
Utah,R,R,R,R,R,R,R,R,R,R,R,R,R
Vermont,R,R,R,R,R,D,D,D,D,D,D,D,D
Virginia,R,R,R,R,R,R,R,R,R,D,D,D,D
Washington,R,R,R,R,D,D,D,D,D,D,D,D,D
West Virginia,R,D,D,R,D,D,D,R,R,R,R,R,R
Wisconsin,R,D,R,R,D,D,D,D,D,D,D,R,D
Wyoming,R,R,R,R,R,R,R,R,R,R,R,R,R

Side note: We produced the data cleaning function chain above by inspecting the CSV file. In your personal projects, you may be tempted to use Excel or Google Sheets (What You See Is What You Get, or WYSIWYG) to clean data. While sometimes more convenient, the downside of this is that you have no record of what you didâ€”and if you have to redownload the data, you have to redo the manual data cleaning process.

<!-- BEGIN QUESTION -->

<br/>

<hr style="border: 1px solid #fdb515;" />

### Question 6a

What does each row in `df_clean` represent?


<!--
BEGIN QUESTION
name: q6a
manual: True
points: 1
-->

The election result of a state for each election year.

<!-- END QUESTION -->

<br/>

<hr style="border: 1px solid #fdb515;" />

### Question 6b

To perform PCA, we need to convert our data into numerical values. Create a `df_numerical` dataframe that replaces all of the "D" characters in `df_clean` with the number 0, and all of the "R" characters with the number 1. 

*Hint:* Use `df.replace` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html)).

<!--
BEGIN QUESTION
name: q6b
points: 1
-->

In [28]:
df_numerical = df_clean.replace({'D':0,'R':1})
df_numerical

,1972,1976,1980,1984,1988,1992,1996,2000,2004,2008,2012,2016,2020
State,,,,,,,,,,,,,
Alabama,1,0,1,1,1,1,1,1,1,1,1,1,1
Alaska,1,1,1,1,1,1,1,1,1,1,1,1,1
Arizona,1,1,1,1,1,1,0,1,1,1,1,1,0
Arkansas,1,0,1,1,1,0,0,1,1,1,1,1,1
California,1,1,1,1,1,0,0,0,0,0,0,0,0
Colorado,1,1,1,1,1,0,1,1,1,0,0,0,0
Connecticut,1,1,1,1,1,0,0,0,0,0,0,0,0
Delaware,1,0,1,1,1,0,0,0,0,0,0,0,0
D.C.,0,0,0,0,0,0,0,0,0,0,0,0,0
Florida,1,0,1,1,1,1,0,1,1,0,0,1,1
Georgia,1,0,0,1,1,0,1,1,1,1,1,1,0
Hawaii,1,0,0,1,0,0,0,0,0,0,0,0,0
Idaho,1,1,1,1,1,1,1,1,1,1,1,1,1
Illinois,1,1,1,1,1,0,0,0,0,0,0,0,0
Indiana,1,1,1,1,1,1,1,1,1,0,1,1,1
Iowa,1,1,1,1,0,0,0,0,1,0,0,1,1
Kansas,1,1,1,1,1,1,1,1,1,1,1,1,1
Kentucky,1,0,1,1,1,0,0,1,1,1,1,1,1
Louisiana,1,0,1,1,1,0,0,1,1,1,1,1,1
Maine,1,1,1,1,1,0,0,0,0,0,0,0,0
Maryland,1,0,0,1,1,0,0,0,0,0,0,0,0
Massachusetts,0,0,1,1,0,0,0,0,0,0,0,0,0
Michigan,1,1,1,1,1,0,0,0,0,0,0,1,0
Minnesota,1,0,0,0,0,0,0,0,0,0,0,0,0
Mississippi,1,0,1,1,1,1,1,1,1,1,1,1,1
Missouri,1,0,1,1,1,0,0,1,1,1,1,1,1
Montana,1,1,1,1,1,0,1,1,1,1,1,1,1
Nebraska,1,1,1,1,1,1,1,1,1,1,1,1,1
Nevada,1,1,1,1,1,0,0,1,1,0,0,0,0
New Hampshire,1,1,1,1,1,0,0,1,0,0,0,0,0
New Jersey,1,1,1,1,1,0,0,0,0,0,0,0,0
New Mexico,1,1,1,1,1,0,0,0,1,0,0,0,0
New York,1,0,1,1,0,0,0,0,0,0,0,0,0
North Carolina,1,0,1,1,1,1,1,1,1,0,1,1,1
North Dakota,1,1,1,1,1,1,1,1,1,1,1,1,1
Ohio,1,0,1,1,1,0,0,1,1,0,0,1,1
Oklahoma,1,1,1,1,1,1,1,1,1,1,1,1,1
Oregon,1,1,1,1,0,0,0,0,0,0,0,0,0
Pennsylvania,1,0,1,1,1,0,0,0,0,0,0,1,0
Rhode Island,1,0,0,1,0,0,0,0,0,0,0,0,0
South Carolina,1,0,1,1,1,1,1,1,1,1,1,1,1
South Dakota,1,1,1,1,1,1,1,1,1,1,1,1,1
Tennessee,1,0,1,1,1,0,0,1,1,1,1,1,1
Texas,1,0,1,1,1,1,1,1,1,1,1,1,1
Utah,1,1,1,1,1,1,1,1,1,1,1,1,1
Vermont,1,1,1,1,1,0,0,0,0,0,0,0,0
Virginia,1,1,1,1,1,1,1,1,1,0,0,0,0
Washington,1,1,1,1,0,0,0,0,0,0,0,0,0
West Virginia,1,0,0,1,0,0,0,1,1,1,1,1,1
Wisconsin,1,0,1,1,0,0,0,0,0,0,0,1,0
Wyoming,1,1,1,1,1,1,1,1,1,1,1,1,1

In [29]:
grader.check("q6b")

q6b results: All test cases passed!

<br/>

<hr style="border: 1px solid #fdb515;" />

### Question 6c

Now **standardize the data**: Center the data so that each column's mean is 0, and scale the data so that each column's variance is 1. Store your result in `df_standardized`.

<!--
BEGIN QUESTION
name: q6c
points: 1
-->

In [47]:
df_standardized = ...
...

In [ ]:
grader.check("q6c")

<br/>

We now have our data in a nice and tidy centered and scaled format. Phew! We are now ready to do PCA.

<br/>
<hr style="border: 1px solid #fdb515;" />

### Question 6d: SVD

In the following cell, compute the SVD of `df_standardized`:

$$\texttt{df}\_\texttt{standardized}=U\Sigma V^{T}$$


Store the $U$, $\Sigma$, and $V^T$ matrices in `u`, `s`, and `vt` respectively. This is one line of simple code (exactly like what we saw in lecture and what you did in lab) using the [`np.linalg.svd`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.svd.html) function with the `full_matrices` argument set to `False`.

<!--
BEGIN QUESTION
name: q6d
points: 1
-->

In [50]:
...
u, s, vt

In [ ]:
grader.check("q6d")

<br/>

<hr style="border: 1px solid #fdb515;" />

### Question 6e: Get Principal Components

Using your results from the previous part, create a new `first_2_pcs` **dataframe** ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)) that contains exactly the first two columns of the principal components matrix. The first column should be labeled `pc1` and the second column should be labeled `pc2`. Store your result in `first_2_pcs`.

<!--
BEGIN QUESTION
name: q6e
points: 2
-->

In [55]:
first_2_pcs = ...
first_2_pcs.head()

In [ ]:
grader.check("q6e")

<br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Question 7

The cell below plots the 1st and 2nd principal components of our 50 states + Washington DC.

In [61]:
# just run this cell
sns.scatterplot(data = first_2_pcs, x = "pc1", y = "pc2");

<!-- BEGIN QUESTION -->

Unfortunately, we have two problems:

1. There is a lot of overplotting, with only 28 distinct dots (out of 104 points). This means that at least some states voted exactly alike in these elections.
2. We don't know which state is which because the points are unlabeled.

<br/>

<hr style="border: 1px solid #fdb515;" />

### Question 7a: Jitter

Let's start by addressing problem 1. 

**In the cell below, create a new dataframe `first_2_pcs_jittered` with a small amount of random noise added to each principal component. In this same cell, create a scatterplot.**

To reduce overplotting, we **jitter** the first two principal components:
* Add a small amount of random, unbiased Gaussian noise to each value using `np.random.normal` ([documentation](https://numpy.org/doc/stable/reference/random/generated/numpy.random.normal.html)) with mean 0 and standard deviation less than 1.
* Don't get caught up on the exact details of your noise generation; it's fine as long as your plot looks roughly the same as the original scatterplot, but without overplotting.
* The amount of noise you add *should not significantly affect* the appearance of the plot; it should simply serve to separate overlapping observations.


<!--
BEGIN QUESTION
name: q3e
manual: true
points: 2
-->

In [62]:
# first, jitter the data
first_2_pcs_jittered = ...

# then, create a scatter plot
...

<!-- END QUESTION -->

In [63]:
first_2_pcs_jittered

<br/>

<hr style="border: 1px solid #fdb515;" />

### Question 7b

To address Problem 2, we can turn to Plotly. The below cell uses these Plotly guides ([example 1](https://plot.ly/python/text-and-annotations/), [example 2](https://plotly.com/python/hover-text-and-formatting/#disabling-or-customizing-hover-of-columns-in-plotly-express)) to create a scatter plot of the jittered .

In [64]:
# just run this cell
import plotly.express as px

# get the state names from the standardized dataframe's index
first_2_pcs_jittered['state'] = df_standardized.index

# show state names on hover
fig = px.scatter(first_2_pcs_jittered, x="pc1", y="pc2",
                hover_data={"state": True}); 

fig.show();

<!-- BEGIN QUESTION -->

Analyze the above plot. In the below cell, address the following two points:
1. Give an example of a cluster of states that vote a similar way. Does the composition of this cluster surprise you? If you're not familiar with U.S. politics, it's fine to just say "No, I'm not surprised because I don't know anything about U.S. politics."
1. Include anything interesting that you observe. You will get credit for this as long as you write something reasonable that you can takeaway from the plot.

<!--
BEGIN QUESTION
name: q7b
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



<br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Question 8

We can also look at the contributions of each year's elections results on the values for our principal components.

Below, we define the `plot_pc` function that plots and labels the rows of $V^T$. We then call this function to plot the 1st row of $V^T$, i.e., the row of $V^T$ that corresponds to `pc1`.

**Note**: If you get an error when running this cell, make sure you are properly assigning the `vt` variable from Question 6.

In [65]:
# just run this cell

def plot_pc(col_names, row_mat_vt, k):
    plt.bar(col_names, row_mat_vt[k, :], alpha=0.7)
    plt.xticks(col_names, rotation=90);
    
plt.figure(figsize=(12, 4)) # adjusts size of plot
plot_pc(list(df_standardized.columns), vt, 0);

<!-- BEGIN QUESTION -->


<br/>

<hr style="border: 1px solid #fdb515;" />

### Question 8a

In the cell below, plot the the 2nd row of $V^T$, i.e., the row of $V^T$ that correpsonds to `pc2`. 

<!--
BEGIN QUESTION
name: q8a
manual: true
points: 1
-->

In [66]:
...

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->


<br/>

<hr style="border: 1px solid #fdb515;" />

### Question 8b

Using the two above plots of the rows of $V^T$ as well as the original table, give a description of what it means for a point to be in the top-right quadrant of the 2-D scatter plot from Question 7.

In other words, what is generally true about a state with relatively large positive value for `pc1` (right side of 2-D scatter plot)? For a large positive value for `pc2` (top side of 2-D scatter plot)?

Notes:
* `pc2` is pretty hard to interpret, and the staff doesn't really have a consensus on what it means either. We'll be nice when grading. 
* Principal components beyond the first are often hard to interpret (but not always; see the lab).

<!--
BEGIN QUESTION
name: q8b
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->

In [67]:
# feel free to use this cell for scratch work. If you need more scratch space, add cells *below* this one.

# Make sure to put your actual answer in the cell above where it says "Type your answer here, replacing this text"

<!-- BEGIN QUESTION -->

<br/>
<br/>

<hr style="border: 1px solid #fdb515;" />

### Question 8c

To get a better sense of whether our 2D scatterplot captures the whole story, create a **scree plot** for this data. In other words, plot the fraction of the total variance (y-axis) captured by the ith principal component (x-axis).

*Hint:* Be sure to label your axes appropriately! You may find `plt.xticks()` ([documentation](https://matplotlib.org/3.5.0/api/_as_gen/matplotlib.pyplot.xticks.html)) helpful for formatting. Also check out the lab for more on scree plots.

<!--
BEGIN QUESTION
name: q8c
manual: true
points: 2
-->

In [68]:
...

<!-- END QUESTION -->



<br/>

From your scree plot above, you should see that the first two principal components capture a large portion of the variance in our cleaned data. It is partially for this reason that the 2D scatter plot of principal components was easy to interpret.

## Congratulations!

Congrats! You are finished with this homework assignment.

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export()